@model CreativaSL.Web.Escuela.Models.CatMateriaXProfesorModels
@{
    ViewBag.Title = "Crear Materia";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="page-content">
        <div id="Error" class="error message" style="display: none">
            <h3></h3>
        </div>
        <div id="Success" class="success message" style="display: none">
            <h3></h3>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">Ofelia Narvaez Rincón<small> Administración</small></h3>
                </div>
            </div>
            <div class="tab-pane">
                <div class="portlet box blue">
                    <div class="portlet-title">
                       <div class="caption"><i class="icon-reorder"></i>Nueva Materia Profesor</div>
                    </div>

                    @using (Html.BeginForm("CreateMateria", "CatCatedratico", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        @Html.HiddenFor(model => model.IDProfesor)

                        <div class="portlet-body form">
                            <h3 class="form-section">Información de la Materia Profesor</h3>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Tipo de Modalidad<span class="required"> *</span></label>
                                        <div class="controls">
                                            @Html.DropDownListFor(model => model.tablaModalidadCmb, ViewData["cmbTipoModalidad"] as SelectList, new { id = "ListTipo", @class = "span12 m-wrap" })
                                            @Html.ValidationMessageFor(model => model.tablaModalidadCmb)
                                        </div>
                                    </div>
                                    <span class="help-block">Seleccione un tipo de modalidad</span>
                                </div>
                                <div class="span6">
                                    <div class="control-group">
                                        <label class="control-label">Materia<span class="required"> *</span></label>
                                        <div class="controls">
                                            @Html.DropDownListFor(model => model.TablaMateriaCmb, ViewData["cmbMateria"] as SelectList, new { id = "ListMateria", @class = "span12 m-wrap" })
                                            @Html.ValidationMessageFor(model => model.TablaMateriaCmb)
                                        </div>
                                    </div>
                                    <span class="help-block">Seleccione la Materia </span>
                                </div>
                            </div>
                            <div class="form-actions">
                                @{string id = Model.IDProfesor; }
                                <input type="submit" value="Guardar" class="btn green">
                                <a href="@Url.Action("MateriaP", "CatCatedratico", new { id = id})" class="btn btn-default red"><i class="icon-prev"></i>Cancelar</a>
                            </div>
                        </div>
                                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#ListTipo").change(function () {
                getComboCurso($("#ListTipo").val(), "@Model.IDProfesor");
            });
        });
        function getComboCurso(idModalidad, IDP) {
            $.ajax({
                url: "/Admin/CatCatedratico/CombMateria",
                data: {
                    IDEsp: idModalidad
                    ,IDProfesor: IDP
                },
                dataType: "json",
                type: "POST",
                error: function () {
                    $("#ListMateria").html('');
                },
                success: function (cbmMateria) {
                    var items = "";
                    for (var i = 0; i < cbmMateria.length; i++) {
                        items += "<option value=\"" + cbmMateria[i].IDMateria + "\">" + cbmMateria[i].NombreM + "</option>";
                    }
                    $("#ListMateria").html(items);
                    if (auxbol3 == 1) {
                        $("#ListMateria").val('@Model.IDMateria');
                        auxbol3 = 0;
                    }
                }
            });
        }


            jQuery(document).ready(function () {
                var message = '@message';
            var typemessage = '@typemessage';

            if (typemessage && message) {
                if (typemessage == '1') {
                    $('#Success').html('<h3>' + message + '<h3>');
                    $('#Success').css("display", "block");
                    $('#Success').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Success').css("display", "block");
                }
                else if (typemessage == '2') {
                    $('#Error').html('<h3>' + message + '<h3>');
                    $('#Error').css("display", "block");
                    $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Error').css("display", "block");
                }
            }
        });
            jQuery.validator.methods["date"] = function (value, element) { return true; }
    </script>
}




