@model CreativaSL.Web.Escuela.Models.CatAlumnosXGrupoModels
@{
    ViewBag.Title = "CalificacionesFinales";
}
@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="page-content">
        <div id="Error" class="error message" style="display: none">
            <h3></h3>
        </div>
        <div id="Success" class="success message" style="display: none">
            <h3></h3>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">Ofelia Narvaez Rincón<small>   Administración</small></h3>
                </div>
            </div>
            <div id="dashboard">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-edit"></i>Lista Alumno</div>
                            </div>
                            <div class="portlet-body">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <div class="span12">
                                            <a href="@Url.Action("Index", "CatMateria")" class="btn btn-default red"><i class="icon-prev"></i>Regresar</a>
                                        </div>
                                    </div>
                                </div>
                              
                                    @using (Html.BeginForm("CalificacionesFinales", "CatMateria", FormMethod.Post, new { id = "formPermisos", @class = "form-horizontal" }))
                                    {
                                        @Html.Hidden(Model.IDAsignatura)
                                <div class="dataTables_wrapper form-inline" style="min-height:100px;">
                                    <div id="miGrid">
                                        <div id="datdim" class="dataTables_wrapper form-inline" style="border-bottom-style: solid; border-bottom-color: #abd1eb; border-bottom-width: thin;">
                                            <div class="row-fluid" style="margin:0px; padding:0px">
                                                <div class="portlet-body flip-scroll" style="text-align:center;">
                                                    <section id="flip-scroll">
                                                        <table id="example" class="table table-striped table-hover table-bordered dataTable">
                                                            <thead class="flip-content">
                                                                <tr>
                                                                   
                                                                    <th>Nombre Grupo</th>
                                                                    <th>Nombre Completo</th>
                                                                    <th>Calificacion</th>
                                                                    <th style="display:none">Alumno</th>
                                                                    @*<th>Editar</th>*@
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{  int contAlumno = 0;
                                                                    string name = "";
                                                                    string alumno ="";
                                                                    foreach (System.Data.DataRow alum in Model.TablaDatos.Rows)
                                                                    {
                                                                        contAlumno++;
                                                                        alumno = "idAlumno" + contAlumno;
                                                                        name = "calificacion" + contAlumno;
                                                                        <tr>
                                                                            <td>@alum["nombreGrupo"].ToString()</td>
                                                                            <td>@alum["NombreCompleto"].ToString()</td>
                                                                            <td><input type="text" name="@Html.Raw(name)" value="@Html.Raw(alum["calificacion"].ToString())" max="10" min="0" step="any"  required/></td>
                                                                            <td style="display:none"><input type="hidden" name="@Html.Raw(alumno)" value="@Html.Raw(alum["id_alumno"].ToString())"  /></td>
                                                                            @*<td style="text-align:center;"><a class="btn yellow" href="@Url.Action("EditTarea", "CatMateria", new { id = tarea["id_tarea"].ToString(), id2 = id })"><i class="icon-edit"></i></a></td>*@
                                                                        </tr>
                                                                    }
                                                                    <input type="text" name="numeroAlumnos" value="@contAlumno" style="display:none"/>
                                                                }

                                                            </tbody>
                                                        </table>
                                                        <div class="span12">
                                                            <a href="@Url.Action("Index", "CatMateria")" class="btn btn-default red"><i class="icon-prev"></i>Cancelar</a>
                                                            <input type="submit" value="Guardar" class="btn btn-default green">
                                                        </div>
                                                    </section>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#example').DataTable({
	        "bSort" : false,
	        "bAutoWidth" : false,
	        "aLengthMenu" : [
	        [10,25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]
	        ],
	        "iDisplayLength" : 10
            });

            $('a.delete').live('click', function (e) {
                e.preventDefault();
                if (confirm("¿Confirmar eliminación?") == false) return;
                var url = $(this).attr('href');
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    success: function (result) { location.reload(true); },
                    error: function () {
                        $('#Error').html('<h3>Ocurrio un error al eliminar este registro<h3>');
                        $('#Error').css("display", "block");
                        $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                        $('#Error').css("display", "block");
                    }
                });
            });

        });

       jQuery(document).ready(function () {
           var message = '@message';
            var typemessage = '@typemessage';

            if (typemessage && message) {
                if (typemessage == '1') {
                    $('#Success').html('<h3>' + message + '<h3>');
                    $('#Success').css("display", "block");
                    $('#Success').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Success').css("display", "block");
                }
                else if (typemessage == '2') {
                    $('#Error').html('<h3>' + message + '<h3>');
                    $('#Error').css("display", "block");
                    $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Error').css("display", "block");
                }
            }
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }
    </script>
}





