@model CreativaSL.Web.Escuela.Models.EventosModels
@{
    ViewBag.Title = "Evento";
    Layout = "~/Areas/Profesor/Views/Shared/_Layout.cshtml";
}

@section featured
{
    <style>
        #container {
            display: inline-block;
            padding: 0 200px 200px;
            background: #ddd;
        }

        #another_cursor {
            width: 50px;
            height: 50px;
            margin: 50px 0 100px;
            background: #f00;
            cursor: move;
        }

        a {
            cursor: pointer;
        }

        .cursor-wait {
            cursor: wait !important;
        }
    </style>
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="page-content">
        <div id="Error" class="error message" style="display: none">
            <h3></h3>
        </div>
        <div id="Success" class="success message" style="display: none">
            <h3></h3>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">Ofelia Narvaez Rincón<small>   Administración</small></h3>
                </div>
            </div>
            <div id="dashboard">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-edit"></i>Eventos</div>
                            </div>
                            <div class="portlet-body">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <div class="span12">
                                            @{string id = Model.IDAsignatura;}
                                            <a href="@Url.Action("CreateEvento", "CatMateria", new { id = id } )" class="btn btn-default green"><i class="icon-plus"></i>Nuevo Evento</a>
                                            <a href="@Url.Action("Index", "CatMateria", new { id = id })" class="btn btn-default red"><i class="icon-prev"></i>Cancelar</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="dataTables_wrapper form-inline" style="min-height:100px;">
                                    <div id="miGrid">
                                        <div id="datdim" class="dataTables_wrapper form-inline" style="border-bottom-style: solid; border-bottom-color: #abd1eb; border-bottom-width: thin;">
                                            <div class="row-fluid" style="margin:0px; padding:0px">
                                                <div class="portlet-body flip-scroll" style="text-align:center;">
                                                    <section id="flip-scroll">
                                                        <table id="example" class="table table-striped table-hover table-bordered dataTable">
                                                            <thead class="flip-content">
                                                                <tr>
                                                                    <th>Nombre Evento</th>
                                                                    <th>Descripcion</th>
                                                                    <th>Fecha Evento</th>
                                                                    <th>Fecha Envio</th>
                                                                    @*<th>Editar</th>*@
                                                                    <th>Eliminar</th>
                                                                    <th>Enviar</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (System.Data.DataRow evento in Model.TablaDatos.Rows)
                                                                {
                                                                    <tr>
                                                                        <td>@evento["NombreEvento"].ToString()</td>
                                                                        <td>@evento["Descripcion"].ToString()</td>
                                                                        <td>@evento["FechaEvento"].ToString()</td>
                                                                        <td>@evento["FechaEnvio"].ToString()</td>
                                                                        @*<td style="text-align:center;"><a class="btn yellow" href="@Url.Action("EditTarea", "CatMateria", new { id = evento["id_tarea"].ToString(), id2 = id })"><i class="icon-edit"></i></a></td>*@
                                                                        <td style="text-align: center;"><a class="btn red delete" href="@Url.Action("DeleteEvento", "CatMateria", new {id = evento["IDEvento"].ToString(), id2 = id})"><i class="icon-trash"></i></a></td>
                                                                        <td style="text-align: center;"><a class="btn green enviar" href="@Url.Action("EnviarEvento", "CatMateria", new {id = evento["IDEvento"].ToString(), id2 = id})"><i class="icon-file"></i></a></td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        cursor_wait = function () {
            // switch to cursor wait for the current element over
            var elements = $(':hover');
            if (elements.length) {
                // get the last element which is the one on top
                elements.last().addClass('cursor-wait');
            }
            // use .off() and a unique event name to avoid duplicates
            $('html').
            off('mouseover.cursorwait').
            on('mouseover.cursorwait', function (e) {
                // switch to cursor wait for all elements you'll be over
                $(e.target).addClass('cursor-wait');
            });
        }

        remove_cursor_wait = function () {
            $('html').off('mouseover.cursorwait'); // remove event handler
            $('.cursor-wait').removeClass('cursor-wait'); // get back to default
        }
        $('a.enviar').live('click', function (e) {
            e.preventDefault();
            if (confirm("¿Desea enviar las notificaciones?") == false) return;
            cursor_wait();
            var url = $(this).attr('href');
            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                success: function (result) {
                    remove_cursor_wait();
                    $('#Success').html('<h3>Las notificaciones fueron enviadas correctamente<h3>');
                    $('#Success').css("display", "block");
                    $('#Success').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Success').css("display", "block");
                },
                error: function () {
                    remove_cursor_wait();
                    $('#Error').html('<h3>Ocurrio un error al enviar las notificaciones<h3>');
                    $('#Error').css("display", "block");
                    $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Error').css("display", "block");
                }
            });
        });    </script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
	        "bSort" : false,
	        "bAutoWidth" : false,
	        "aLengthMenu" : [
	        [10,25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]
	        ],
	        "iDisplayLength" : 10
            });

            $('a.delete').live('click', function (e) {
                e.preventDefault();
                if (confirm("¿Confirmar eliminación?") == false) return;
                var url = $(this).attr('href');
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    success: function (result) { location.reload(true); },
                    error: function () {
                        $('#Error').html('<h3>Ocurrio un error al eliminar este registro<h3>');
                        $('#Error').css("display", "block");
                        $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                        $('#Error').css("display", "block");
                    }
                });
            });

        });

       jQuery(document).ready(function () {
           var message = '@message';
            var typemessage = '@typemessage';

            if (typemessage && message) {
                if (typemessage == '1') {
                    $('#Success').html('<h3>' + message + '<h3>');
                    $('#Success').css("display", "block");
                    $('#Success').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Success').css("display", "block");
                }
                else if (typemessage == '2') {
                    $('#Error').html('<h3>' + message + '<h3>');
                    $('#Error').css("display", "block");
                    $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Error').css("display", "block");
                }
            }
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }
    </script>
}




