@model CreativaSL.Web.Escuela.Models.TareasModels
@{
    ViewBag.Title = "Ver Tarea";
    Layout = "~/Areas/Profesor/Views/Shared/_Layout.cshtml";
}

@section featured
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets2/plugins/cropper/cropper.min.css")" />

    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="page-content">
        <div id="Error" class="error message" style="display: none">
            <h3></h3>
        </div>
        <div id="Success" class="success message" style="display: none">
            <h3></h3>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">Ofelia Narvaez Rincón<small>   Administración</small></h3>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption"><i class="icon-reorder"></i>Detalles De Tarea</div>
                        </div>
                        <div class="portlet-body form">
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="controls">
                                            <h3>Nombre de la Tarea</h3>
                                            <p class="letras_details">@Html.Raw(Model.NombreTarea)</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="control-group">
                                        <div class="controls">
                                            <h3>Fecha de Entrega</h3>
                                            <p class="letras_details">@Html.Raw(Model.FechaEntraga.ToShortDateString())</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="span4" style="display:none">
                                    <div class="control-group">
                                        <div class="controls">
                                            <h3>Fecha de Envio</h3>
                                            <p class="letras_details">@Html.Raw(Model.FechaEnvio)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <br />
                                <br />
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="control-group">
                                        <div class="controls">
                                            <h3>Descripción de la Tarea</h3>
                                            <h2 style="text-align: center">@Html.Raw(Model.Descripcion)</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-actions">
                                @{string id = Model.IDAsignatura; }
                                <a href="@Url.Action("Tarea", "CatMateria", new { id = id})" class="btn btn-default red"><i class="icon-prev"></i>Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>


        jQuery(document).ready(function () {
            var message = '@message';
            var typemessage = '@typemessage';

            if (typemessage && message) {
                if (typemessage == '1') {
                    $('#Success').html('<h3>' + message + '<h3>');
                    $('#Success').css("display", "block");
                    $('#Success').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Success').css("display", "block");
                }
                else if (typemessage == '2') {
                    $('#Error').html('<h3>' + message + '<h3>');
                    $('#Error').css("display", "block");
                    $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Error').css("display", "block");
                }
            }
        });
        jQuery.validator.methods["date"] = function (value, element) { return true; }
    </script>

}
