@model CreativaSL.Web.Escuela.Models.NotificacionesProfesorModels
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section featured
{
    @{
        var message = TempData["message"] ?? string.Empty;
        var typemessage = TempData["typemessage"] ?? string.Empty;
    }
    <div class="page-content">
        <div id="Error" class="error message" style="display: none">
            <h3></h3>
        </div>
        <div id="Success" class="success message" style="display: none">
            <h3></h3>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <h3 class="page-title">Ofelia Narvaez Rincón<small> Administración</small></h3>
                </div>
            </div>
            <div id="dashboard">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="icon-edit"></i>Notificaciones</div>
                            </div>
                            <div class="portlet-body">
                                
                                <div class="dataTables_wrapper form-inline" style="min-height:100px;">
                                    <div id="miGrid">
                                        <div id="datdim" class="dataTables_wrapper form-inline" style="border-bottom-style: solid; border-bottom-color: #abd1eb; border-bottom-width: thin;">
                                            <div class="row-fluid" style="margin:0px; padding:0px">
                                                <div class="portlet-body flip-scroll">
                                                    <section id="flip-scroll">

                                                        <h3 class="form-section">Notificaciones por Profesor</h3>
                                                        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal" , @id="Form-notificacion" ,@onsubmit= "return llenarTabla();" }))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            @Html.ValidationSummary(true)

                                                            <div class="portlet-body form">
                                                                
                                                                <div class="row-fluid">
                                                                    <div class="span4">
                                                                        <div class="control-group">
                                                                            <label class="control-label">Plan de estudio<span class="required"> *</span></label>
                                                                            <div class="controls">
                                                                                @Html.DropDownListFor(model => model.TablaPlanEstudioCmb, ViewData["cmbPlanEstudio"] as SelectList, new { id = "ListPlanEstudioOrigen", @class = "span12 m-wrap" })
                                                                                @Html.ValidationMessageFor(model => model.TablaPlanEstudioCmb)
                                                                                <span class="help-bolck">Ingrese el Plan de estudio</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="span4">
                                                                        <div class="control-group">
                                                                            <label class="control-label">Modalidad<span class="required"> *</span></label>
                                                                            <div class="controls">
                                                                                @Html.DropDownListFor(model => model.TablaModalidadCmb, ViewData["cmbModalidad"] as SelectList, new { id = "ListModalidadOrigen", @class = "span12 m-wrap" })
                                                                                @Html.ValidationMessageFor(model => model.TablaModalidadCmb)
                                                                                <span class="help-bolck">Ingrese la modalidad</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="span4">
                                                                        <div class="control-group">
                                                                            <label class="control-label">Especialidad<span class="required"> *</span></label>
                                                                            <div class="controls">
                                                                                @Html.DropDownListFor(model => model.TablaEspecialidadCmb, ViewData["cmbEspecialidad"] as SelectList, new { id = "ListEspecialidadOrigen", @class = "span12 m-wrap" })
                                                                                @Html.ValidationMessageFor(model => model.TablaEspecialidadCmb)
                                                                                <span class="help-bolck">Ingrese la especialidad</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="row-fluid">

                                                                    <div class="span4">
                                                                        <div class="control-group">
                                                                            <label class="control-label">Ciclo Escolar<span class="required"> *</span></label>
                                                                            <div class="controls">
                                                                                @Html.DropDownListFor(model => model.TablaCicloEscolarCmb, ViewData["cmbCicloEscolar"] as SelectList, new { id = "ListCicloOrigen", @class = "span12 m-wrap" })
                                                                                @Html.ValidationMessageFor(model => model.TablaCicloEscolarCmb)
                                                                            </div>
                                                                        </div>
                                                                        <span class="help-block">Ingrese ciclo escolar</span>
                                                                    </div>
                                                                    <div class="span4">
                                                                        <div class="control-group">
                                                                            <label class="control-label">Curso<span class="required"> *</span></label>
                                                                            <div class="controls">
                                                                                @Html.DropDownListFor(model => model.TablaCursosCmb, ViewData["cmbCursos"] as SelectList, new { id = "ListCursosOrigen", @class = "span12 m-wrap" })
                                                                                @Html.ValidationMessageFor(model => model.TablaCursosCmb)
                                                                            </div>
                                                                        </div>
                                                                        <span class="help-block">Ingrese Curso</span>
                                                                    </div>
                                                                    <div class="span4">
                                                                        <div class="control-group">
                                                                            <label class="control-label">Grupo<span class="required"> *</span></label>
                                                                            <div class="controls">
                                                                                @Html.DropDownListFor(model => model.TablaGrupoCmb, ViewData["cmbGrupo"] as SelectList, new { id = "ListGrupoOrigen", @class = "span12 m-wrap" })
                                                                                @Html.ValidationMessageFor(model => model.TablaGrupoCmb)
                                                                            </div>
                                                                        </div>
                                                                        <span class="help-block">Ingrese grupo</span>
                                                                    </div>

                                                                </div>
                                                                <div class="row-fluid">

                                                                    <div class="span6">
                                                                        <div class="control-group">
                                                                            <label class="control-label">Profesor<span class="required"> *</span></label>
                                                                            <div class="controls">
                                                                                @Html.DropDownListFor(model => model.TablaProfesorCmb, ViewData["cmbProfesor"] as SelectList, new { id = "ListProfesor", @class = "span12 m-wrap" })
                                                                                @Html.ValidationMessageFor(model => model.TablaProfesorCmb)
                                                                            </div>
                                                                        </div>
                                                                        <span class="help-block">Ingrese Profesor</span>
                                                                    </div>
                                                                    <div class="span6" style="text-align:center">
                                                                        

                                                                        
                                                                    </div>
                                                                    
                                                                   
                                                                </div>
                                                             
                                                                
                                                                <div class="form-actions text-center">
                                                                    <input type="submit" value="VER " class="btn green" style="margin-top: 35px;">

                                                                </div>
                                                                    
                                                              
                                                            </div>
                                                        }








                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                @*<div class="tabbable">
                                   
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab1" data-toggle="tab">Notificación Tarea</a></li>
                                        <li><a href="#tab2" data-toggle="tab">Notificación Evento</a></li>
                                        <li><a href="#tab3" data-toggle="tab">Notificación Examen</a></li>
                                        <li><a href="#tab4" data-toggle="tab">Notificación Asistencia</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">

                                            <div class="dataTables_wrapper form-inline" style="min-height:100px;">
                                                <div id="miGrid">
                                                    <div id="datdim" class="dataTables_wrapper form-inline" style="border-bottom-style: solid; border-bottom-color: #abd1eb; border-bottom-width: thin;">
                                                        <div class="row-fluid" style="margin:0px; padding:0px">
                                                            <div class="portlet-body flip-scroll" style="text-align:center;">
                                                                <section id="flip-scroll">
                                                                    <table id="example" class="table table-striped table-hover table-bordered dataTable">
                                                                        <thead class="flip-content">
                                                                            <tr>
                                                                                @*<th>Tipo</th>*@
                                                                                @*<th>Título</th>
                                                                                <th>Texto</th>
                                                                                <th>Plan Estudios</th>
                                                                                <th>Modalidad</th>
                                                                                <th>Especialidad</th>
                                                                                <th>Curso</th>
                                                                                <th>Ciclo</th>
                                                                                <th>Grupo</th>
                                                                                <th>Reenviar</th>
                                                                                <th>Ver detalle</th>
                                                                                <th>Eliminar</th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="tipo112">
                                                                            @foreach (System.Data.DataRow notificacion in Model.TablaDatos.Rows)
                                                                            {
                                                                                int ID = 0;
                                                                                int.TryParse(notificacion["id_tipoNotificacion"].ToString(), out ID);
                                                                                if (ID == 112)
                                                                                {
                                                                                    <tr>*@

                                                                                        @*<td>@notificacion["tipoNotificacion"].ToString()</td>*@
                                                                                        @*<td>@notificacion["titulo"].ToString()</td>
                                                                                        <td>@notificacion["texto"].ToString()</td>
                                                                                        <td>@notificacion["id_planEstudios"].ToString()</td>
                                                                                        <td>@notificacion["id_modalidad"].ToString()</td>
                                                                                        <td>@notificacion["id_especialidad"].ToString()</td>
                                                                                        <td>@notificacion["id_curso"].ToString()</td>
                                                                                        <td>@notificacion["id_ciclo"].ToString()</td>
                                                                                        <td>@notificacion["id_grupo"].ToString()</td>


                                                                                        <td style="text-align:center;"><a class="btn blue enviar" href="@Url.Action("ReenviarNotificacion", "NotificacionProfesor",new { id = notificacion["id_notificacion"].ToString(),id2= notificacion["id_registro"].ToString(),id3=notificacion["id_tipoNotificacion"].ToString() })"><i class="icon-circle-arrow-right"></i></a></td>
                                                                                        <td style="text-align:center;"><a class="btn blue" href="@Url.Action("Detalle", "Notificacion", new { id = notificacion["id_notificacion"].ToString() })"><i class="icon-book"></i></a></td>
                                                                                        <td style="text-align: center;"><a class="btn red delete" href="@Url.Action("Delete", "Notificacion", new { id = notificacion["id_notificacion"].ToString() })"><i class="icon-trash"></i></a></td>
                                                                                    </tr>
                                                                                }
                                                                                

                                                                            }

                                                                        </tbody>
                                                                    </table>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane" id="tab2">

                                            <div class="dataTables_wrapper form-inline" style="min-height:100px;">
                                                <div id="miGrid">
                                                    <div id="datdim" class="dataTables_wrapper form-inline" style="border-bottom-style: solid; border-bottom-color: #abd1eb; border-bottom-width: thin;">
                                                        <div class="row-fluid" style="margin:0px; padding:0px">
                                                            <div class="portlet-body flip-scroll" style="text-align:center;">
                                                                <section id="flip-scroll">
                                                                    <table id="example1" class="table table-striped table-hover table-bordered dataTable">
                                                                        <thead class="flip-content">
                                                                            <tr>*@
                                                                                @*<th>Tipo</th>*@
                                                                                @*<th>Título</th>
                                                                                <th>Texto</th>
                                                                                <th>Plan Estudios</th>
                                                                                <th>Modalidad</th>
                                                                                <th>Especialidad</th>
                                                                                <th>Curso</th>
                                                                                <th>Ciclo</th>
                                                                                <th>Grupo</th>
                                                                                <th>Reenviar</th>
                                                                                <th>Ver detalle</th>
                                                                                <th>Eliminar</th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="tipo110">
                                                                          
                                                                            @foreach (System.Data.DataRow notificacion in Model.TablaDatos.Rows)
                                                                            {
                                                                                int ID = 0;
                                                                                int.TryParse(notificacion["id_tipoNotificacion"].ToString(), out ID);
                                                                                if (ID == 110)
                                                                                {
                                                                                <tr>*@
                                                                                    @*<td>@notificacion["tipoNotificacion"].ToString()</td>*@
                                                                                    @*<td>@notificacion["titulo"].ToString()</td>
                                                                                    <td>@notificacion["texto"].ToString()</td>
                                                                                    <td>@notificacion["id_planEstudios"].ToString()</td>
                                                                                    <td>@notificacion["id_modalidad"].ToString()</td>
                                                                                    <td>@notificacion["id_especialidad"].ToString()</td>
                                                                                    <td>@notificacion["id_curso"].ToString()</td>
                                                                                    <td>@notificacion["id_ciclo"].ToString()</td>
                                                                                    <td>@notificacion["id_grupo"].ToString()</td>


                                                                                    <td style="text-align:center;"><a class="btn blue enviar" href="@Url.Action("ReenviarNotificacion", "NotificacionProfesor", new { id = notificacion["id_notificacion"].ToString(),id2= notificacion["id_registro"].ToString(),id3=notificacion["id_tipoNotificacion"].ToString() })"><i class="icon-circle-arrow-right"></i></a></td>
                                                                                    <td style="text-align:center;"><a class="btn blue" href="@Url.Action("Detalle", "Notificacion", new { id = notificacion["id_notificacion"].ToString() })"><i class="icon-book"></i></a></td>
                                                                                    <td style="text-align: center;"><a class="btn red delete" href="@Url.Action("Delete", "Notificacion", new { id = notificacion["id_notificacion"].ToString() })"><i class="icon-trash"></i></a></td>
                                                                                </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane" id="tab3">

                                            <div class="dataTables_wrapper form-inline" style="min-height:100px;">
                                                <div id="miGrid">
                                                    <div id="datdim" class="dataTables_wrapper form-inline" style="border-bottom-style: solid; border-bottom-color: #abd1eb; border-bottom-width: thin;">
                                                        <div class="row-fluid" style="margin:0px; padding:0px">
                                                            <div class="portlet-body flip-scroll" style="text-align:center;">
                                                                <section id="flip-scroll">
                                                                    <table id="example2" class="table table-striped table-hover table-bordered dataTable">
                                                                        <thead class="flip-content">
                                                                            <tr>*@
                                                                                @*<th>Tipo</th>*@
                                                                                @*<th>Título</th>
                                                                                <th>Texto</th>
                                                                                <th>Plan Estudios</th>
                                                                                <th>Modalidad</th>
                                                                                <th>Especialidad</th>
                                                                                <th>Curso</th>
                                                                                <th>Ciclo</th>
                                                                                <th>Grupo</th>
                                                                                <th>Reenviar</th>
                                                                                <th>Ver detalle</th>
                                                                                <th>Eliminar</th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="tipo111">
                                                                            
                                                                            @foreach (System.Data.DataRow notificacion in Model.TablaDatos.Rows)
                                                                            {
                                                                                int ID = 0;
                                                                                int.TryParse(notificacion["id_tipoNotificacion"].ToString(), out ID);
                                                                                if (ID == 111)
                                                                                {
                                                                                <tr>*@
                                                                                    @*<td>@notificacion["tipoNotificacion"].ToString()</td>*@
                                                                                    @*<td>@notificacion["titulo"].ToString()</td>
                                                                                    <td>@notificacion["texto"].ToString()</td>
                                                                                    <td>@notificacion["id_planEstudios"].ToString()</td>
                                                                                    <td>@notificacion["id_modalidad"].ToString()</td>
                                                                                    <td>@notificacion["id_especialidad"].ToString()</td>
                                                                                    <td>@notificacion["id_curso"].ToString()</td>
                                                                                    <td>@notificacion["id_ciclo"].ToString()</td>
                                                                                    <td>@notificacion["id_grupo"].ToString()</td>


                                                                                    <td style="text-align:center;"><a class="btn blue enviar" href="@Url.Action("ReenviarNotificacion", "NotificacionProfesor", new { id = notificacion["id_notificacion"].ToString(),id2= notificacion["id_registro"].ToString(),id3=notificacion["id_tipoNotificacion"].ToString() })"><i class="icon-circle-arrow-right"></i></a></td>
                                                                                    <td style="text-align:center;"><a class="btn blue" href="@Url.Action("Detalle", "Notificacion", new { id = notificacion["id_notificacion"].ToString() })"><i class="icon-book"></i></a></td>
                                                                                    <td style="text-align: center;"><a class="btn red delete" href="@Url.Action("Delete", "Notificacion", new { id = notificacion["id_notificacion"].ToString() })"><i class="icon-trash"></i></a></td>
                                                                                </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane" id="tab4">

                                            <div class="dataTables_wrapper form-inline" style="min-height:100px;">
                                                <div id="miGrid">
                                                    <div id="datdim" class="dataTables_wrapper form-inline" style="border-bottom-style: solid; border-bottom-color: #abd1eb; border-bottom-width: thin;">
                                                        <div class="row-fluid" style="margin:0px; padding:0px">
                                                            <div class="portlet-body flip-scroll" style="text-align:center;">
                                                                <section id="flip-scroll">
                                                                    <table id="example3" class="table table-striped table-hover table-bordered dataTable">
                                                                        <thead class="flip-content">
                                                                            <tr>*@
                                                                                @*<th>Tipo</th>*@
                                                                                @*<th>Título</th>
                                                                                <th>Texto</th>
                                                                                <th>Plan Estudios</th>
                                                                                <th>Modalidad</th>
                                                                                <th>Especialidad</th>
                                                                                <th>Curso</th>
                                                                                <th>Ciclo</th>
                                                                                <th>Grupo</th>
                                                                                <th>Reenviar</th>
                                                                                <th>Ver detalle</th>
                                                                                <th>Eliminar</th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="tipo113">
                                                                           
                                                                            @foreach (System.Data.DataRow notificacion in Model.TablaDatos.Rows)
                                                                            {
                                                                                int ID = 0;
                                                                                int.TryParse(notificacion["id_tipoNotificacion"].ToString(), out ID);
                                                                                if (ID == 113)
                                                                                {
                                                                                <tr>*@
                                                                                    @*<td>@notificacion["tipoNotificacion"].ToString()</td>*@
                                                                                    @*<td>@notificacion["titulo"].ToString()</td>
                                                                                    <td>@notificacion["texto"].ToString()</td>
                                                                                    <td>@notificacion["id_planEstudios"].ToString()</td>
                                                                                    <td>@notificacion["id_modalidad"].ToString()</td>
                                                                                    <td>@notificacion["id_especialidad"].ToString()</td>
                                                                                    <td>@notificacion["id_curso"].ToString()</td>
                                                                                    <td>@notificacion["id_ciclo"].ToString()</td>
                                                                                    <td>@notificacion["id_grupo"].ToString()</td>


                                                                                    <td style="text-align:center;"><a class="btn blue enviar" href="@Url.Action("ReenviarNotificacion", "NotificacionProfesor", new { id = notificacion["id_notificacion"].ToString(),id2= notificacion["id_registro"].ToString(),id3=notificacion["id_tipoNotificacion"].ToString()})"><i class="icon-circle-arrow-right"></i></a></td>
                                                                                    <td style="text-align:center;"><a class="btn blue" href="@Url.Action("Detalle", "Notificacion", new { id = notificacion["id_notificacion"].ToString() })"><i class="icon-book"></i></a></td>
                                                                                    <td style="text-align: center;"><a class="btn red delete" href="@Url.Action("Delete", "Notificacion", new { id = notificacion["id_notificacion"].ToString() })"><i class="icon-trash"></i></a></td>
                                                                                </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </section>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>*@



                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
      
        function llenarTabla() {
           
            var grupo = $('#ListGrupoOrigen').val();
            var profesor = $("#ListProfesor").val();
            var modalidad=$('#ListModalidadOrigen').val();
            var planestudio = $('#ListPlanEstudioOrigen').val();
            var curso = $("#ListCursosOrigen").val();
            var ciclo = $("#ListCicloOrigen").val();
            var especialidad = $("#ListEspecialidadOrigen").val();
           
            if (planestudio != 0) {
                if (modalidad == '' || profesor == '' || grupo == '' || curso == '' || ciclo == '' || especialidad =='') {
                    
                }
                else {
                   
                    location.href = "/Admin/NotificacionProfesor/TablaNotificacion/" + $("#ListProfesor").val() + '?id2=' + $('#ListGrupoOrigen').val();
                }
            }
            else {
                alert("Seleccione un plan de estudio");
            }
            //$.ajax({
            //    url: "/Admin/NotificacionProfesor/llenarTabla",
            //    data: {

            //        id_profesor: profesor,
            //        id_grupo: grupo
            //    },
            //    dataType: "json",
            //    type: "POST",
            //    error: function (xhr, ajaxOptions, thrownError, request) {

            //        console.log(xhr, thrownError, request);
            //        alert(xhr.status);
            //        alert(thrownError);
            //    },
            //    success: function (TablaDatos) {
            //        alert("Se han listado las notificaciones");
                    
            //        //alert(JSON.stringify(TablaDatos[0].id_notificacion));
            //        //console.log(tabla);
                    
            //        var items110 = "";
            //        var items111 = "";
            //        var items112 = "";
            //        var items113 = "";
            //        for (var i = 0; i < TablaDatos.length; i++) {
            //            //    items += "<option value=\"" + cmbProfesor[i].id_persona + "\">" + cmbProfesor[i].nombre + "</option>";
            //            items110 += "<tr>";
            //            items111 += "<tr>";
            //            items112 += "<tr>";
            //            items113 += "<tr>";
            //            if (TablaDatos[i].id_tipoNotificacion == 110) {
            //                items110 += "<td>" + TablaDatos[i].titulo + "</td>";
            //                items110 += "<td>" + TablaDatos[i].texto + "</td>";
            //                items110 += "<td>" + TablaDatos[i].id_planEstudios + "</td>";
            //                items110 += "<td>" + TablaDatos[i].id_modalidad + "</td>";
            //                items110 += "<td>" + TablaDatos[i].id_especialidad + "</td>";
            //                items110 += "<td>" + TablaDatos[i].id_curso + "</td>";
            //                items110 += "<td>" + TablaDatos[i].id_ciclo + "</td>";
            //                items110 += "<td>" + TablaDatos[i].id_grupo + "</td>";
            //                items110+='<td style="text-align:center;"><a class="btn blue enviar" href="NotificacionProfesor/ReenviarNotificacion/'+TablaDatos[i].id_notificacion+'&'+TablaDatos[i].id_registro+'&'+TablaDatos[i].id_tipoNotificacion+'"><i class="icon-circle-arrow-right"></i></a></td>'
            //                items110+='  <td style="text-align:center;"><a class="btn blue" href="Notificacion/Detalle/'+TablaDatos[i].id_notificacion+'"><i class="icon-book"></i></a></td>'
            //                items110+='<td style="text-align: center;"><a class="btn red delete" href="Notificacion/Delete/'+TablaDatos[i].id_notificacion+'"><i class="icon-trash"></i></a></td>'
            //            }
            //            else if (TablaDatos[i].id_tipoNotificacion == 111) {
            //                items111 += "<td>" + TablaDatos[i].titulo + "</td>";
            //                items111 += "<td>" + TablaDatos[i].texto + "</td>";
            //                items111 += "<td>" + TablaDatos[i].id_planEstudios + "</td>";
            //                items111 += "<td>" + TablaDatos[i].id_modalidad + "</td>";
            //                items111 += "<td>" + TablaDatos[i].id_especialidad + "</td>";
            //                items111 += "<td>" + TablaDatos[i].id_curso + "</td>";
            //                items111 += "<td>" + TablaDatos[i].id_ciclo + "</td>";
            //                items111 += "<td>" + TablaDatos[i].id_grupo + "</td>";
            //                items111 += '<td style="text-align:center;"><a class="btn blue enviar" href="NotificacionProfesor/ReenviarNotificacion/' + TablaDatos[i].id_notificacion + '&' + TablaDatos[i].id_registro + '&' + TablaDatos[i].id_tipoNotificacion + '"><i class="icon-circle-arrow-right"></i></a></td>'
            //                items111 += '  <td style="text-align:center;"><a class="btn blue" href="Notificacion/Detalle/' + TablaDatos[i].id_notificacion + '"><i class="icon-book"></i></a></td>'
            //                items111 += '<td style="text-align: center;"><a class="btn red delete" href="Notificacion/Delete/' + TablaDatos[i].id_notificacion + '"><i class="icon-trash"></i></a></td>'
            //            }
            //            else if (TablaDatos[i].id_tipoNotificacion == 112) {
            //                items112 += "<td>" + TablaDatos[i].titulo + "</td>";
            //                items112 += "<td>" + TablaDatos[i].texto + "</td>";
            //                items112 += "<td>" + TablaDatos[i].id_planEstudios + "</td>";
            //                items112 += "<td>" + TablaDatos[i].id_modalidad + "</td>";
            //                items112 += "<td>" + TablaDatos[i].id_especialidad + "</td>";
            //                items112 += "<td>" + TablaDatos[i].id_curso + "</td>";
            //                items112 += "<td>" + TablaDatos[i].id_ciclo + "</td>";
            //                items112 += "<td>" + TablaDatos[i].id_grupo + "</td>";
            //                items112 += '<td style="text-align:center;"><a class="btn blue enviar" href="NotificacionProfesor/ReenviarNotificacion/' + TablaDatos[i].id_notificacion + '&' + TablaDatos[i].id_registro + '&' + TablaDatos[i].id_tipoNotificacion + '"><i class="icon-circle-arrow-right"></i></a></td>'
            //                items112 += '  <td style="text-align:center;"><a class="btn blue" href="Notificacion/Detalle/' + TablaDatos[i].id_notificacion + '"><i class="icon-book"></i></a></td>'
            //                items112 += '<td style="text-align: center;"><a class="btn red delete" href="Notificacion/Delete/' + TablaDatos[i].id_notificacion + '"><i class="icon-trash"></i></a></td>'
            //            }
            //            else if (TablaDatos[i].id_tipoNotificacion == 113) {
            //                items113 += "<td>" + TablaDatos[i].titulo + "</td>";
            //                items113 += "<td>" + TablaDatos[i].texto + "</td>";
            //                items113 += "<td>" + TablaDatos[i].id_planEstudios + "</td>";
            //                items113 += "<td>" + TablaDatos[i].id_modalidad + "</td>";
            //                items113 += "<td>" + TablaDatos[i].id_especialidad + "</td>";
            //                items113 += "<td>" + TablaDatos[i].id_curso + "</td>";
            //                items113 += "<td>" + TablaDatos[i].id_ciclo + "</td>";
            //                items113 += "<td>" + TablaDatos[i].id_grupo + "</td>";
            //                items113 += '<td style="text-align:center;"><a class="btn blue enviar" href="NotificacionProfesor/ReenviarNotificacion/' + TablaDatos[i].id_notificacion + '&' + TablaDatos[i].id_registro + '&' + TablaDatos[i].id_tipoNotificacion + '"><i class="icon-circle-arrow-right"></i></a></td>'
            //                items113 += '  <td style="text-align:center;"><a class="btn blue" href="Notificacion/Detalle/' + TablaDatos[i].id_notificacion + '"><i class="icon-book"></i></a></td>'
            //                items113 += '<td style="text-align: center;"><a class="btn red delete" href="Notificacion/Delete/' + TablaDatos[i].id_notificacion + '"><i class="icon-trash"></i></a></td>'
            //            }
            //            items110 += "</tr>";
            //            items111 += "</tr>";
            //            items112 += "</tr>";
            //            items113 += "</tr>";
            //        }
                  
            //        $("#tipo110").html(items110);

            //        $("#tipo111").html(items111);
            //        $("#tipo112").html(items112);
            //        $("#tipo113").html(items113);
                    
            //    }
            //});
            return false;
        }
        $("#ListPlanEstudioOrigen").change(function () {
            var combo = $('#ListModalidadOrigen').attr('id');
            getComboModalidad($("#ListPlanEstudioOrigen").val(), combo);


        });
        $("#ListModalidadOrigen").change(function () {
            var combo = $('#ListEspecialidadOrigen').attr('id');
            getComboEspecialidad($("#ListModalidadOrigen").val(), combo);
        });
        $("#ListEspecialidadOrigen").change(function () {
            var combo = $('#ListCursosOrigen').attr('id');
            getComboCursos($("#ListEspecialidadOrigen").val(), combo);
        });
        $("#ListCursosOrigen").change(function () {
            var combo = $('#ListGrupoOrigen').attr('id');
            getComboGrupo($("#ListCicloOrigen").val(), $("#ListEspecialidadOrigen").val(), $("#ListCursosOrigen").val(), combo);
        });
        $('#ListGrupoOrigen').change(function () {

            getComboProfesor($(this).val());
        });
        function getComboProfesor(idgrupo) {

            $.ajax({
                url: "/Admin/NotificacionProfesor/ComboProfesor",
                data: {
                    grupo: idgrupo
                },
                dataType: "json",
                type: "POST",
                error: function (xhr, ajaxOptions, thrownError, request) {
                    $("#" + combo).html('');

                    alert(xhr.status);
                    alert(thrownError);
                },
                success: function (cmbProfesor) {
                    var items = "";

                    for (var i = 0; i < cmbProfesor.length; i++) {
                        items += "<option value=\"" + cmbProfesor[i].id_persona + "\">" + cmbProfesor[i].nombre + "</option>";

                    }
                    $("#ListProfesor").html(items);


                }
            });
        }
        function getComboGrupo(ciclo, especialidad, curso, combo) {

            $.ajax({
                url: "/Admin/NotificacionProfesor/ComboGrupo",
                data: {
                    ciclo: ciclo,
                    IDEspecialidad: especialidad,
                    curso: curso


                },
                dataType: "json",
                type: "POST",
                error: function (xhr, ajaxOptions, thrownError, request) {
                    $("#" + combo).html('');

                    alert(xhr.status);
                    alert(thrownError);
                },
                success: function (cmbGrupo) {
                    var items = "";

                    for (var i = 0; i < cmbGrupo.length; i++) {
                        items += "<option value=\"" + cmbGrupo[i].IDGrupo + "\">" + cmbGrupo[i].Nombre + "</option>";

                    }
                    $("#" + combo).html(items);


                }
            });
        }
        function getComboCursos(IDE, combo) {
            $.ajax({
                url: "/Admin/NotificacionProfesor/ComboCursos",
                data: {
                    IDEspecialidad: IDE

                },
                dataType: "json",
                type: "POST",
                error: function (xhr, ajaxOptions, thrownError, request) {
                    $("#" + combo).html('');

                    alert(xhr.status);
                    alert(thrownError);
                },
                success: function (cmbCursos) {
                    var items = "";
                    for (var i = 0; i < cmbCursos.length; i++) {
                        items += "<option value=\"" + cmbCursos[i].IDCurso + "\">" + cmbCursos[i].Descripcion + "</option>";
                    }
                    $("#" + combo).html(items);

                }
            });
        }
        function getComboEspecialidad(IDM, combo) {
            $.ajax({
                url: "/Admin/NotificacionProfesor/ComboEspecialidad",
                data: {
                    IDModalidad: IDM

                },
                dataType: "json",
                type: "POST",
                error: function (xhr, ajaxOptions, thrownError, request) {
                    $("#" + combo).html('');

                    alert(xhr.status);
                    alert(thrownError);
                },
                success: function (cmbEspecialidad) {
                    var items = "";
                    for (var i = 0; i < cmbEspecialidad.length; i++) {
                        items += "<option value=\"" + cmbEspecialidad[i].id_especialidad + "\">" + cmbEspecialidad[i].descripcion + "</option>";
                    }
                    $("#" + combo).html(items);

                }
            });
        }
        function getComboModalidad(IDP, combo) {

            $.ajax({
                url: "/Admin/NotificacionProfesor/ComboModalidad",
                data: {
                    idplanEstudio: IDP

                },
                dataType: "json",
                type: "POST",
                error: function (xhr, ajaxOptions, thrownError, request) {
                    $("#" + combo).html('');

                    alert(xhr.status);
                    alert(thrownError);
                },
                success: function (cmbModalidad) {
                    var items = "";
                    for (var i = 0; i < cmbModalidad.length; i++) {
                        items += "<option value=\"" + cmbModalidad[i].IDModalidad + "\">" + cmbModalidad[i].Descripcion + "</option>";
                    }
                    $("#" + combo).html(items);

                }
            });
        }
        cursor_wait = function () {
            // switch to cursor wait for the current element over
            var elements = $(':hover');
            if (elements.length) {
                // get the last element which is the one on top
                elements.last().addClass('cursor-wait');
            }
            // use .off() and a unique event name to avoid duplicates
            $('html').
            off('mouseover.cursorwait').
            on('mouseover.cursorwait', function (e) {
                // switch to cursor wait for all elements you'll be over
                $(e.target).addClass('cursor-wait');
            });
        }

        remove_cursor_wait = function () {
            $('html').off('mouseover.cursorwait'); // remove event handler
            $('.cursor-wait').removeClass('cursor-wait'); // get back to default
        }
        $('a.enviar').live('click', function (e) {
            e.preventDefault();
            if (confirm("¿Desea enviar las notificaciones?") == false) return;
            cursor_wait();
            var url = $(this).attr('href');

            $.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                success: function (result) {
                    remove_cursor_wait();
                    $('#Success').html('<h3>Las notificaciones fueron enviadas correctamente<h3>');
                    $('#Success').css("display", "block");
                    $('#Success').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Success').css("display", "block");

                },
                error: function (xhr, ajaxOptions, thrownError, request) {
                    alert(xhr.status);
                    alert(thrownError);
                    remove_cursor_wait();
                    $('#Error').html('<h3>Ocurrio un error al enviar las notificaciones<h3>');
                    $('#Error').css("display", "block");
                    $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Error').css("display", "block");

                }
            });
        });
        $(document).ready(function () {
            
          
               
                $('#example').DataTable({
                    "bSort": false,
                    "bAutoWidth": false,
                    "aLengthMenu": [
                    [10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]
                    ],
                    "iDisplayLength": 10
                });
                $('#example2').DataTable({
                    "bSort": false,
                    "bAutoWidth": false,
                    "aLengthMenu": [
                    [10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]
                    ],
                    "iDisplayLength": 10
                });
                $('#example3').DataTable({
                    "bSort": false,
                    "bAutoWidth": false,
                    "aLengthMenu": [
                    [10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]
                    ],
                    "iDisplayLength": 10
                });
                $('#example1').DataTable({
                    "bSort": false,
                    "bAutoWidth": false,
                    "aLengthMenu": [
                    [10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "All"]
                    ],
                    "iDisplayLength": 10
                });
            

            $('a.delete').live('click', function (e) {
                e.preventDefault();
                if (confirm("¿Confirmar eliminación?") == false) return;
                var url = $(this).attr('href');
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    success: function (result) { location.reload(true); },
                    error: function () {
                        $('#Error').html('<h3>Ocurrio un error al eliminar este registro<h3>');
                        $('#Error').css("display", "block");
                        $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                        $('#Error').css("display", "block");
                    }
                });
            });

        });

       jQuery(document).ready(function () {
           var message = '@message';
            var typemessage = '@typemessage';

            if (typemessage && message) {
                if (typemessage == '1') {
                    $('#Success').html('<h3>' + message + '<h3>');
                    $('#Success').css("display", "block");
                    $('#Success').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Success').css("display", "block");
                }
                else if (typemessage == '2') {
                    $('#Error').html('<h3>' + message + '<h3>');
                    $('#Error').css("display", "block");
                    $('#Error').delay(400).slideDown(400).delay(2000).slideUp(400);
                    $('#Error').css("display", "block");
                }
            }
        });

    </script>
}


